	.canvas-app-progress {
		position: absolute;
		background-color: #3D253B;
		height: 6px;
		margin-top: -6px;
		width: 100%;
	}

	.canvas-app-progress-bar {
		font-size: 12px;
		height: 6px;
		color: rgb(255, 255, 255);
		background-color: #6E4A48;
		text-align: center;
		line-height: 20px;
	}

	body {
		background-color: #25131A;
	}

	.canvas-app-container {
		background: #25131A;
	}

	.canvas-app-canvas {
		background-repeat:no-repeat;
		background-position: center center;
	}